<footer>
    <div class="my-name">
        <a href="https://qchen.netlify.app/"><p>Site by Qiyuan Chen</p></a>
    </div>
    <div class="pp">
        <a href="/pp"><p>Privacy policy</p></a>
    </div>
    <div class="tos">
        <a href="/tos"><p>Terms of service</p></a>
    </div>
    <div class="light-dark-toggle">
        <p>Dark mode: off</p>
    </div>
</footer>