<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tell me what you're thinking right now. Pour out your thoughts completely anonymously, in a way where no-one can judge you.">
    <meta name="author" content="Qiyuan Chen">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.svg">
    <script src="script.js" defer></script>
    <title>Send me a thought :)</title>
</head>