<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header") %>
<body>
    <header>
        <h1>We couldn't find this page :(</h1>
    </header>
    <main>
        <div class="navigation-buttons">
            <button class="go-back" type="button" onclick="location.href = '/'">&#60; Back</button>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>