<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.svg">
    <script src="script.js" defer></script>
    <title>Tell me your thoughts :)</title>
</head>
<body>
    <h1>Tell me your thoughts :)</h1>
    <div class="navigation-buttons">
        <button id="about">About</button>
        <button id="write">Tell me a thought</button>
        <button id="read">Read a thought</button>
        <button id="contact">Contact me</button>
    </div>
    <div class="main-content" data-content="about">
        <h2>Why make this website?</h2>
        <p>This project was made as a response to the growing number of mental health issues as a result of the COVID pandemic.</p>
        <p>I believe that it would be nice to be able to share your thoughts out there completely anonymously, knowing you won't be judged.</p>
    </div>
    <div class="main-content hidden" data-content="write">
        <!-- <form action="/" method="POST"> -->
        <form>
            <label for="thought"><h2>Tell me something on your mind right now. :D</h2></label>
            <textarea id="thought" name="thought" required></textarea>
            <button>Post</button>
        </form>
    </div>
    <div class="main-content hidden" data-content="read">
        <h2>Here's a lovely thought that someone else had: </h2>
        <p>abcdefg</p>
    </div>
    <div class="main-content hidden" data-content="contact">
        <h2>Want to know me better?</h2>
        <p>Here are my socials</p>
    </div>
</body>
</html>