<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header") %>
<body>
    <header>
        <h1>Send me a thought :)</h1>
    </header>
    <main>
        <div class="navigation-buttons">
            <button class="about">About</button>
            <button class="write">Write a thought</button>
            <button class="read">Read a thought</button>
            <button class="contact">Contact me</button>
        </div>
        <div class="main-content" data-content="about">
            <h2>About</h2>
            <br>
            <p>This website was released as a way to pour out your thoughts completely anonymously, in a way where no-one can judge you.</p>
            <br>
            <p>Read the joys and struggles of people all around the world, so that you know you're never alone &#60;3</p>
            <br>
            <p>If you like this website, don't forget to share it with your friends!</p>
            <br>
            <p>Inspired by <a href="https://www.thiswebsitewillselfdestruct.com/">thiswebsitewillselfdestruct.com</a></p>
        </div>
        <div class="main-content hidden" data-content="write">
            <form>
                <label for="thought"><h2>Tell me something on your mind right now. :D</h2></label>
                <textarea id="thought" name="thought" maxlength="1000" required></textarea>
                <button>Post</button>
            </form>
        </div>
        <div class="main-content hidden" data-content="has-written">
            <h2></h2>
            <button class="write">Write another thought</button>
        </div>
        <div class="main-content hidden" data-content="read">
            <h2>Here's a lovely thought that someone else had: </h2>
            <div class="other-thought">
            </div>
            <button class="read">Read another thought</button>
            <button data-modal-target="#modal" class="report">Report</button>
        </div>
        <div class="main-content hidden" data-content="contact">
            <h2>Want to know me better?</h2>
            <br>
            <p>Follow me on instagram at <a href="https://www.instagram.com/qiyuanchen123/">instagram.com/qiyuanchen123</a></p>
            <br>
            <p>Check out my website at <a href="https://qchen.netlify.app/">qchen.netlify.app</a></p>
            <br>
            <p>Email me at qiyuan.chen2002@gmail.com</p>
        </div>
        <div class="modal" id="modal">
            <div class="modal-header">
                <div><h2>Report comment:</h2></div>
                <button data-close-modal>&times;</button>
            </div>
            <div class="modal-body">

                <form>
                    <label for="report"><p>Please give a reason why you think this comment was inappropriate</p></label>
                    <textarea id="report" name="report" maxlength="200" required>I think this comment is inappropriate because </textarea>
                    <button data-close-modal>Post</button>
                </form>
            </div>
        </div>
        <div id="overlay"></div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>