<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header") %>
<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <main>
        <div class="navigation-buttons">
            <button class="go-back" type="button" onclick="location.href = '/'">&#60; Back</button>
        </div>
        <div class="main-content" data-content="about">
            <h2>Privacy policy</h2>
            <br>
            <p>&#8226;This policy applies to all information collected by or submitted to this website.</p>
            <br>
            <p>&#8226;This website only stores the contents of the thoughts that you wish to send and any information required for moderation, such as report messages.</p>
            <br>
            <p>&#8226;Your information can be removed at any time, simply by reporting the message with an appropriate comment. Any submitted information which break the Terms of Service will also be removed.</p>
            <br>
            <p>&#8226;By using this website, you consent to our privacy policy. If there are any other concerns about this privacy policy, please email me at qiyuan.chen2002@gmail.com</p>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>