<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header") %>
<body>
    <header>
        <h1>Terms of Service</h1>
    </header>
    <main>
        <div class="navigation-buttons">
            <button class="go-back" type="button" onclick="location.href = '/'">&#60; Back</button>
        </div>
        <div class="main-content" data-content="about">
            <h2>Prohibited activities and uses</h2>
            <br>
            <p>You may not use this Website to publish content or engage in activity that is illegal or harmful to others. This includes:</p>
            <br>
            <p>&#8226;Distributing malware or other malicious code.</p>
            <p>&#8226;Disclosing sensitive personal information about others.</p>
            <p>&#8226;Promoting or facilitating violence.</p>
            <p>&#8226;Threatening harm to persons or property or otherwise harassing behavior.</p>
            <p>&#8226;Infringing the intellectual property or other proprietary rights of others.</p>
            <p>&#8226;Facilitating, aiding, or encouraging any of the above activities through the Website and Services.</p>
            <br>
            <h2>Reporting violations</h2>
            <p>If you have discovered and would like to report a violation of this Policy, please use the report button or contact me immediately at qiyuan.chen2002@gmail.com. I will investigate the situation and provide you with full assistance.</p>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>