@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    --transitionTime: 2s;
    margin: 0;
    box-sizing: border-box;
    font-family: Indie Flower, cursive; 
    font-weight: bold;
    transition: var(--transitionTime);
}

body {
    --backgroundColor: hsl(360, 90%, 90%);
    --textColour: hsl(0, 0%, 0%);
    --mainColour: hsl(200, 75%, 75%);
    --buttonColour: hsl(266, 100%, 60%);
    --textFieldColour: hsl(60, 50%, 90%);
    --footerTextColour: hsl(60, 50%, 90%);

    --titleSize: 50px;
    --textSize: 18px;

    min-height: 100vh;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
}

body.dark {
    --backgroundColor: hsl(215, 60%, 8%);
    --textColour: hsl(0, 0%, 100%);
    --mainColour: hsl(215, 60%, 16%);
    --buttonColour: hsl(35, 70%, 40%);
    --textFieldColour: hsl(215, 60%, 24%);
    --footerTextColour: hsl(0, 0%, 0%);
}

header, main {
    width: min(95vw, 750px);
}

h1, h2, p, button, textarea {
    color: var(--textColour);
}

h1 {
    padding: 50px 25px;
    text-align: center;
    font-size: var(--titleSize);
}

p, button {
    font-size: var(--textSize);
}

.main-content {
    background-color: var(--mainColour);
}

.navigation-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.navigation-buttons button {
    width: 23%;
    height: 66%;
    cursor: pointer;
    border: none;
    background-color: var(--buttonColour);
}

.navigation-buttons button:hover {
    width: 25%;
    height: 80%;
}

.main-content {
    padding: 15px;
    overflow: hidden;
}

form textarea {
    width: 100%;
    height: 400px;
    padding: calc(5px + 1%);
    font-size: var(--textSize);
    display: block;
    border: none;
    resize: none;
    margin: auto;
    background-color: var(--textFieldColour);
}

form button {
    float: right;
    margin-top: 5px;
    width: 15%;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: var(--buttonColour);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
    background-color: var(--textColour);
}

footer p {
    margin: 5px;
    color: var(--footerTextColour);
    text-align: center;
    user-select: none;
}

.hidden {
    display: none;
}