@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --titleSize: 50px;
    --textSize: 17px;
    --borderRadius: 15px;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Indie Flower, cursive; 
    font-weight: bold;
    transition: width 1s, height 1s, color 1s, background-color 1s;
}

body {
    --backgroundColor: hsl(360, 70%, 95%);
    --textColour: hsl(0, 0%, 7%);
    --mainColour: hsl(360, 70%, 90%);
    --buttonColour: hsl(300, 100%, 80%);
    --textFieldColour: hsl(250, 60%, 85%);
    --footerTextColour: hsl(60, 50%, 90%);
    --hoverColour: hsl(0, 0%, 80%);
    --linkColour: hsl(240, 80%, 30%);

    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: none;
    background-color: var(--backgroundColor);
}

body.dark {
    --backgroundColor: hsl(0, 0%, 7%);
    --textColour: hsl(0, 0%, 90%);
    --mainColour: hsl(0, 0%, 15%);
    --buttonColour: hsl(271, 50%, 40%);
    --textFieldColour: hsl(0, 0%, 25%);
    --footerTextColour: hsl(0, 0%, 7%);
    --hoverColour: hsl(0, 0%, 40%);
    --linkColour: hsl(240, 50%, 60%);
}

header, main {
    width: min(95vw, 750px);
    padding-left: calc(100vw - 100%);
}

h1, h2, p, button, textarea {
    color: var(--textColour);
}

h1 {
    padding: 50px 25px;
    text-align: center;
    font-size: var(--titleSize);
}

p, button {
    font-size: var(--textSize);
}

a {
    color: var(--linkColour);
}

.main-content {
    background-color: var(--mainColour);
}

.navigation-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.navigation-buttons button {
    width: 23%;
    height: 66%;
    cursor: pointer;
    border: none;
    border-radius: var(--borderRadius);
    background-color: var(--buttonColour);
}

.navigation-buttons button:hover {
    width: 25%;
    height: 80%;
}

.go-back {
    margin-right: auto;
}

.main-content {
    padding: 15px;
    border-radius: var(--borderRadius);
    overflow: hidden;
}

textarea {
    width: 100%;
    height: 400px;
    padding: calc(5px + 1%);
    font-size: var(--textSize);
    display: block;
    border: none;
    resize: none;
    margin: auto;
    background-color: var(--textFieldColour);
}

.submitThought {
    display: flex;
    justify-content: space-between;
}

.submitThought p{
    margin-top: 15px;
}

form button, .main-content button, .modal-body button {
    float: right;
    margin-top: 15px;
    margin-left: calc(5px + 1%);
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: var(--buttonColour);
}

.other-thought {
    padding: calc(5px + 1%);
    background-color: var(--textFieldColour);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 15px;
    border: 1px solid var(--textColour);
    z-index: 100;
    width: min(95vw, 600px);
    background-color: var(--mainColour);
    border-radius: var(--borderRadius);
}

.modal.active {
    display: block;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--textColour);
}

.modal-header button {
    cursor: pointer;
    border: none;
    padding: 0 10px;
    background-color: var(--buttonColour);
}

.modal-body textarea {
    margin-top: 10px;
    height: 250px;
}

#overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100vw;
    background-color: var(--textColour);
}

footer p {
    margin: 5px;
    color: var(--footerTextColour);
    text-align: center;
    user-select: none;
}

.light-dark-toggle p {
    cursor: pointer;
}

footer p:hover {
    color: var(--hoverColour);
}

.hidden {
    display: none;
}